<!DOCTYPE html>
<html>
<head>
	<title>Pong</title>
	<script type="text/javascript" src="/javascripts/lib/react.js"></script>
	<script type="text/javascript" src="/javascripts/lib/jQuery.min.js"></script>
	<script type="text/javascript" src="/javascripts/lib/bacon.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/lib/pacta.js"></script>
	<script src="/javascripts/build/pong.js" ></script>
	<script src="/javascripts/build/chat.js" ></script>
	<script type="text/javascript" src="/javascripts/sockets.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div id="login"></div>
	<div id="pong"></div>
	<div id="chat"></div>
</body>
</html>
