<!DOCTYPE html>
<html>
<head>
	<title>Pong</title>
	<script type="text/javascript" src="/javascripts/lib/react.min.js"></script>
	<script type="text/javascript" src="/javascripts/lib/jQuery.min.js"></script>
	<script type="text/javascript" src="/javascripts/lib/bacon.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/build/pong.js" ></script>
	<script type="text/javascript" src="/javascripts/sockets.js"></script>
</head>
<body>
</body>
</html>